<!-- templates/coffee/coffee_detail.html -->
{% extends "_base.html" %}

{% block title%}{{ coffee.title }}{% endblock title %}

{% block content %}
    <div class="coffee-detail">
        {% if coffee.front_picture %}
            <img class="front_picture" src="{{ coffee.front_picture.url }}" alt="{{ coffee.title }}">
        {% endif %}
        <h2><a href="">{{ coffee.title }}</a></h2>
        <p>Origin: {{ coffee.origin }}</p>
        <p>Price: {{ coffee.price }}</p>
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in coffee.reviews.all %}
                <li>{{ review.review}} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content%}